# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Builds
build/
dist/
coverage/

# Environments
.env*
!.env.example

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Excalidraw-specific outputs
excalidraw/excalidraw-app/build/
excalidraw/excalidraw-app/dist/
excalidraw/packages/*/dist/
excalidraw/examples/*/dist/
excalidraw/examples/*/build/

# Vercel/Netlify
.vercel/
.netlify/
